<div class="social-icons">
  {% if settings.social_twitter_enabled %}
  <a class="twitter" target="_blank" href="{{ settings.social_twitter_url }}">Twitter</a>
  {% endif %}
  {% if settings.social_facebook_enabled %}
  <a class="facebook" target="_blank" href="{{ settings.social_facebook_url }}">Facebook</a>
  {% endif %}
  {% if settings.social_tumblr_enabled %}
  <a class="tumblr" target="_blank" href="{{ settings.social_tumblr_url }}">Tumblr</a>
  {% endif %}
  {% if settings.social_rss_enabled %}
  <a class="rss" target="_blank" href="{{ settings.social_rss_url }}">RSS</a>
  {% endif %}
  {% if settings.social_youtube_enabled %}
  <a class="youtube" target="_blank" href="{{ settings.social_youtube_url }}">YouTube</a>
  {% endif %}
  {% if settings.social_vimeo_enabled %}
  <a class="vimeo" target="_blank" href="{{ settings.social_vimeo_url }}">Vimeo</a>
  {% endif %}
  {% if settings.social_instagram_enabled %}
  <a class="instagram" target="_blank" href="{{ settings.social_instagram_url }}">Instagram</a>
  {% endif %}
  {% if settings.social_pinterest_enabled %}
  <a class="pinterest" target="_blank" href="{{ settings.social_pinterest_url }}">Pinterest</a>
  {% endif %}
  {% if settings.social_flickr_enabled %}
  <a class="flickr" target="_blank" href="{{ settings.social_flickr_url }}">Flickr</a>
  {% endif %}
  {% if settings.social_google_enabled %}
  <a class="google" target="_blank" href="{{ settings.social_google_url }}">Google+</a>
  {% endif %}
</div><!-- .social -->