<!--{% if settings.breadcrumbs_enabled == true or settings.social_links_page_show_tw == true or settings.social_links_page_show_fb == true or settings.social_links_page_show_goog == true %}
<div id="breadcrumbs">
    <span class="text">
        {% if settings.breadcrumbs_enabled == true %}
        <a href="/" title="{{ 'general.breadcrumbs.home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
        &raquo;
        <a href="/cart">{{ 'cart.general.title' | t }}</a>
        {% endif %}
    </span>
    {% include 'sociallinks' %}
</div>
{% endif %}
-->
<div id="content">
    <h1>Your Basket</h1>
    {% if cart.item_count == 0 %}
    <p>{{ 'cart.general.empty_html' | t }}</p>
    <div class="productlist">
        {% assign collection = collections[settings.recommended_products_coll_1] %}
        {% for product in collection.products limit: 4 %}
    	{% include 'product-list-item' %}
    	{% endfor %}
	</div><!-- .productlist -->
    {% else %}
    <form action="/cart" method="post" id="cartform">
        <div id="basket">
            <ul>
                <li class="headings clearfix">
            		<div class="description">{{ 'cart.column_headings.description' | t }}</div>
        			<div class="price">{{ 'cart.column_headings.price' | t }}</div>
        			<div class="qty">{{ 'cart.column_headings.quantity' | t }}</div>
        			<div class="delete">{{ 'cart.column_headings.delete' | t }}</div>
        			<div class="total">{{ 'cart.column_headings.total' | t }}</div>
        		</li>
        	    {% for item in cart.items %}
                <li class="basket-{% cycle 'odd', 'even' %}">
            		<div class="cartitem clearfix">
                        <div class="description">
                            <a class="image" href="{{ item.url }}" title="{{ item.title | escape }}"><img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}" /></a>
        					<p><span class="title"><a href="{{ item.url }}">{{ item.title }}</a></span>
        				    <span class="desc">{{ item.product.description | strip_html | truncate: 120 }}</span></p>
            			</div>
                        <div class="price"><span class="amount">{{ item.price  | money }}{% if item.variant.compare_at_price > item.price %}<br /><del>{{ item.variant.compare_at_price  | money }}</del>{% endif %}</span></div>
            			<div class="qty">
                          <label for="updates_{{ item.variant.id }}">{{ 'cart.general.title' | t }}:</label>
                          <input type="text" size="4" name="updates[{{item.variant.id}}]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" onfocus="this.select();"/>
                      	</div>
            			<div class="delete">
                          <a onclick="return confirm('{{ 'cart.general.delete_confirm' | t }}')" href="/cart/change?line={{ forloop.index }}&quantity=0">{{ 'cart.general.remove' | t }}</a>
                      	</div>
                        <div class="total">{{ item.line_price  | money }}</div>
            		</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    	<div class="subtotal">
    		<div><span class="total">{{ 'cart.general.total' | t }}</span><span class="amount">{{ cart.total_price  | money }}</span></div>
            <span class="subtext">Excluding Delivery</span>
            <div class="buttons">
              {% if settings.cart_note_enabled %}
              <div class="note">
                <label for="note">{{ 'cart.general.note_label' | t }}</label>
                <textarea name="note" id="note" rows="3" cols="60">{{cart.note}}</textarea>
              </div>
              {% endif %}
              <div class="buttoncont"><input type="submit" id="update-cart" name="update" value="{{ 'cart.general.update' | t }}" /></div>
              <div class="buttoncont"><input type="submit" name="checkout" value="{{ 'cart.general.checkout' | t }}" /></div>

              {% if additional_checkout_buttons %}
              <div class="additionalbutton" style="margin-top: 40px">
                {{ content_for_additional_checkout_buttons }}
              </div>
              {% endif %}
            </div><!-- .buttons -->
    	</div><!-- .subtotal -->
    </form><!-- #cartform -->
    {% endif %}
</div><!-- #content -->