{% assign collurl = collection.url %}
{% if collection.handle == 'all' %}
    {% assign collurl = '/collections/all' %}
{% endif %}
{% unless collection.handle %}
	{% comment %} Title needs unescaping as it replaces html entities {% endcomment %}
	{% capture collurl %}/collections/vendors?q={{ collection.title | replace: "&#39;", '%27' | replace: '&amp;', '%26' | replace: ' ', '+' }}{% endcapture %}
{% endunless %}

{% if settings.breadcrumbs_enabled == true or settings.social_links_page_show_tw == true or settings.social_links_page_show_fb == true or settings.social_links_page_show_goog == true %}
<div id="breadcrumbs">
    <span class="text">
    {% if settings.breadcrumbs_enabled == true %}
        <a href="/" title="{{ 'general.breadcrumbs.home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
        &raquo;
        <a href="{{ collurl }}">{{ collection.title }}</a>
        {% if current_tags and current_tags.size > 0 %}
            &raquo;
            {% for tag in current_tags %}
                {{ tag | link_to_tag: tag }}{% unless forloop.last %},{% endunless %}
            {% endfor %}
        {% endif %}
    {% endif %}
    </span>
    {% include 'sociallinks' with collection %}
</div><!-- #breadcrumbs -->
{% endif %}

{% paginate collection.products by settings.pagination_products_per_page %}
<div id="content">
    <h1>{{ collection.title }}</h1>
  
   {% if collection.description != empty %}
    <div class="pagecontent simple">
	    {{ collection.description }}
    </div>
   {% endif %}
    
    {% if collection.all_tags.size > 0 and settings.collection_tags_enabled == true %}
        <div class="tags">
            <h3>{{ 'collections.filtering.filter' | t }} &raquo;</h3>
            <ul>
                {% if current_tags and current_tags.size > 0 %}
                    <li><a href="{{ collurl }}">{{ 'collections.filtering.all' | t }}</a></li>
                {% else %}
                    <li class="active"><a href="{{ collurl }}">{{ 'collections.filtering.all' | t }}</a></li>
                {% endif %}
                
                {% for tag in collection.all_tags %}
                    {% comment %}Don't show tags used for relating products together{% endcomment %}
                    {% capture tagstart %}{{ tag | remove_first: 'related-' }}{% endcapture %}
                    {% if tagstart == tag %}
                        {% if current_tags contains tag %}
                            <li class="active">{{ tag | highlight_active_tag | link_to_tag: tag }}</li>
                        {% else %}
                            <li>{{ tag | highlight_active_tag | link_to_tag: tag }}</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
        
    {% if collection.products.size == 0 %}
		<strong>{{ 'collections.general.no_matches' | t }}</strong>
	{% else %}
		<div class="productlist">
		{% for product in collection.products %}
        {% include 'product-list-item-4col' %}
        {% endfor %}
        </div><!-- .productlist -->
		{% if paginate.pages > 1 %}
		<div class="pagination">
			{{ paginate | default_pagination }}
		</div>
		{% endif %}
	{% endif %}
</div><!-- #content -->
{% endpaginate %}